/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  margin: 33px;
  font-size: 13px;
}

h1 {
  font-weight: bold;
  font-size: 2em;
  display: block;
}

h2 {
  display: block;
}

p{
  display: block;
  margin: 33px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

a{
  cursor: pointer;
  text-decoration: underline;
  color: black;
}

a:hover {
  background-color: black;
  color: white;
}
.error-msg {
  border: 2px solid red;
  padding: 7px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

.error-msg h2{
  color: #fff;
  background-color: #c00;
  margin: -7px;
  font-size: 12px;
  padding: 5px 5px 5px 15px;
  margin-bottom: 0;
}

.error-msg ul li {
  font-size: 12px;
  list-style: square;
}

ul{
  display: block;
  margin: 33px;
}

li {
  display: list-item;
  
}